*{
    overflow: hidden;
    background-color: rgb(71, 71, 71);
    -webkit-user-select: none;
}

#grid-container{
    height: 600px;
    width: 600px;
    position: absolute;
    left: 10%;
    top: 15%;
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    border: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#enemy-grid{
    height: 600px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 15%;
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    border: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.cell-enemy{
    background-image: url("../images/cell.png");
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 140, 255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cell{
    background-image: url("../images/cell.png");
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 140, 255);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cell-ship{
    background-image: url("../images/cell-ship.png");
}
.cell-ship-shot-ally{
    background-image: url("../images/cell-ship-shot-ally.png");
}
.cell-hover{
    background-image: url("../images/cell-hover.png");
}
.cell-ship-shot{
    background-image: url("../images/cell-ship-shot.png");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cell-miss{
    background-image: url("../images/cell-miss.png");
}
#I-ship-container{
    background-color: yellow;
    cursor: pointer;
}
#square-ship-container{
    background-color: pink;
    cursor: pointer;
}
#l-ship-container{
    background-color: blue;
    cursor: pointer;
}
#lightning-ship-container{
    background-color: green;
    cursor: pointer;
}
#info-text{
    position: absolute;
    color: white;
    font-weight: bold;
    left: 41%;
    top: 90%;
    font-size: large;
}
.ally-board-numbers{
    color: white;
    position: absolute;
    display: flex;
    font-weight: bold;
    left: 11.5%;
    top: 12%;
    text-align: center;
}
.ally-board-numbers > div{
    padding-right: 50px;
}
.enemy-board-numbers{
    color: white;
    position: absolute;
    display: flex;
    font-weight: bold;
    left: 51.5%;
    top: 12%;
    text-align: center;
}
.enemy-board-numbers > div{
    padding-right: 50px;
}
.ally-board-letters{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    left: 8.5%;
    top: 17%;
    text-align: center;
}
.ally-board-letters > div{
    padding-bottom: 35px;
}
.enemy-board-letters{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 50px;
    left: 48.5%;
    top: 17%;
    text-align: center;
}
.enemy-board-letters > div{
    padding-bottom: 35px;
}
.enemy-title{
    color: rgb(255, 0, 0);
    font-weight: bold;
    position: absolute;
    top: 6.5%;
    left: 60%;
    height: 40px;
}
.ally-title{
    color: rgb(9, 255, 0);
    font-weight: bold;
    position: absolute;
    top: 6.5%;
    left: 21%;
    height: 40px;
}
.ship-sunk{
    background-image: url("../images/ship-sunk.png")
}
.ship-sunk-ally{
    background-image: url("../images/ship-sunk-ally.png")
}
.ship-sunk-near{
    background-image: url("../images/cell-empty-confirm.png")
}
#ship-show{
    position: absolute;
    left: 88%;
    top: 10%;
    width: 150px;
}
#ship-show-i > img{
    position: relative;
    left: 35%;
}
#ship-show-square > img{
    position: relative;
    left: 17.5%;
}
#ship-show-light > img{
    position: relative;
    left: 17.5%;
}
#ship-show > div{
    padding-bottom: 1em;
}
#ship-show > div > p{
    color: white;
    font-weight: bold;
    text-align: center;
}
.ship-show-text{
    position: absolute;
    color: white;
    left: 86.5%;
    top: 2%;
}